USE [Gashapon]

ALTER TABLE [dbo].[SubProducts] DROP CONSTRAINT [FK__SubProduct__P_ID__76969D2E]

ALTER TABLE [dbo].[PointsHistory] DROP CONSTRAINT [FK_PointsHistory_User]

ALTER TABLE [dbo].[PointsHistory] DROP CONSTRAINT [FK_PointsHistory_SubProduct]

ALTER TABLE [dbo].[DrawnItemsHistory] DROP CONSTRAINT [FK_DrawnItemsHistory_User]

ALTER TABLE [dbo].[DrawnItemsHistory] DROP CONSTRAINT [FK_DrawnItemsHistory_SubProduct]

ALTER TABLE [dbo].[DrawnItemsHistory] DROP CONSTRAINT [FK_DrawnItemsHistory_Product]

ALTER TABLE [dbo].[AttendanceHistory] DROP CONSTRAINT [FK__Attendanc__UserI__65370702]

ALTER TABLE [dbo].[Register] DROP CONSTRAINT [DF__Register__Points__07C12930]

ALTER TABLE [dbo].[PointsHistory] DROP CONSTRAINT [DF__PointsHis__Descr__3F115E1A]

ALTER TABLE [dbo].[PointsHistory] DROP CONSTRAINT [DF__PointsHis__Chang__3E1D39E1]

ALTER TABLE [dbo].[PointsHistory] DROP CONSTRAINT [DF__PointsHis__CashS__3D2915A8]

ALTER TABLE [dbo].[DrawnItemsHistory] DROP CONSTRAINT [DF__DrawnItem__DrawD__498EEC8D]

/****** Object:  Index [UQ__Register__B0C3AC46BE89220F]    Script Date: 2025/8/29 下午 10:37:39 ******/
ALTER TABLE [dbo].[Register] DROP CONSTRAINT [UQ__Register__B0C3AC46BE89220F]

/****** Object:  Index [UQ__Register__A9D10534A25FAEF7]    Script Date: 2025/8/29 下午 10:37:39 ******/
ALTER TABLE [dbo].[Register] DROP CONSTRAINT [UQ__Register__A9D10534A25FAEF7]

/****** Object:  Index [UQ__Register__5C7E359EDBDDB8AE]    Script Date: 2025/8/29 下午 10:37:39 ******/
ALTER TABLE [dbo].[Register] DROP CONSTRAINT [UQ__Register__5C7E359EDBDDB8AE]

/****** Object:  Table [dbo].[SubProducts]    Script Date: 2025/8/29 下午 10:37:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubProducts]') AND type in (N'U'))
DROP TABLE [dbo].[SubProducts]

/****** Object:  Table [dbo].[Register]    Script Date: 2025/8/29 下午 10:37:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Register]') AND type in (N'U'))
DROP TABLE [dbo].[Register]

/****** Object:  Table [dbo].[Products]    Script Date: 2025/8/29 下午 10:37:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]

/****** Object:  Table [dbo].[PointsHistory]    Script Date: 2025/8/29 下午 10:37:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PointsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[PointsHistory]

/****** Object:  Table [dbo].[DrawnItemsHistory]    Script Date: 2025/8/29 下午 10:37:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DrawnItemsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[DrawnItemsHistory]

/****** Object:  Table [dbo].[AttendanceHistory]    Script Date: 2025/8/29 下午 10:37:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttendanceHistory]') AND type in (N'U'))
DROP TABLE [dbo].[AttendanceHistory]

USE [master]

/****** Object:  Database [Gashapon]    Script Date: 2025/8/29 下午 10:37:39 ******/
DROP DATABASE [Gashapon]

/****** Object:  Database [Gashapon]    Script Date: 2025/8/29 下午 10:37:39 ******/
CREATE DATABASE [Gashapon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gashapon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gashapon.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gashapon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gashapon_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF

ALTER DATABASE [Gashapon] SET COMPATIBILITY_LEVEL = 160

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gashapon].[dbo].[sp_fulltext_database] @action = 'enable'
end

ALTER DATABASE [Gashapon] SET ANSI_NULL_DEFAULT OFF 

ALTER DATABASE [Gashapon] SET ANSI_NULLS OFF 

ALTER DATABASE [Gashapon] SET ANSI_PADDING OFF 

ALTER DATABASE [Gashapon] SET ANSI_WARNINGS OFF 

ALTER DATABASE [Gashapon] SET ARITHABORT OFF 

ALTER DATABASE [Gashapon] SET AUTO_CLOSE OFF 

ALTER DATABASE [Gashapon] SET AUTO_SHRINK OFF 

ALTER DATABASE [Gashapon] SET AUTO_UPDATE_STATISTICS ON 

ALTER DATABASE [Gashapon] SET CURSOR_CLOSE_ON_COMMIT OFF 

ALTER DATABASE [Gashapon] SET CURSOR_DEFAULT  GLOBAL 

ALTER DATABASE [Gashapon] SET CONCAT_NULL_YIELDS_NULL OFF 

ALTER DATABASE [Gashapon] SET NUMERIC_ROUNDABORT OFF 

ALTER DATABASE [Gashapon] SET QUOTED_IDENTIFIER OFF 

ALTER DATABASE [Gashapon] SET RECURSIVE_TRIGGERS OFF 

ALTER DATABASE [Gashapon] SET  DISABLE_BROKER 

ALTER DATABASE [Gashapon] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 

ALTER DATABASE [Gashapon] SET DATE_CORRELATION_OPTIMIZATION OFF 

ALTER DATABASE [Gashapon] SET TRUSTWORTHY OFF 

ALTER DATABASE [Gashapon] SET ALLOW_SNAPSHOT_ISOLATION OFF 

ALTER DATABASE [Gashapon] SET PARAMETERIZATION SIMPLE 

ALTER DATABASE [Gashapon] SET READ_COMMITTED_SNAPSHOT OFF 

ALTER DATABASE [Gashapon] SET HONOR_BROKER_PRIORITY OFF 

ALTER DATABASE [Gashapon] SET RECOVERY FULL 

ALTER DATABASE [Gashapon] SET  MULTI_USER 

ALTER DATABASE [Gashapon] SET PAGE_VERIFY CHECKSUM  

ALTER DATABASE [Gashapon] SET DB_CHAINING OFF 

ALTER DATABASE [Gashapon] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 

ALTER DATABASE [Gashapon] SET TARGET_RECOVERY_TIME = 60 SECONDS 

ALTER DATABASE [Gashapon] SET DELAYED_DURABILITY = DISABLED 

ALTER DATABASE [Gashapon] SET ACCELERATED_DATABASE_RECOVERY = OFF  

EXEC sys.sp_db_vardecimal_storage_format N'Gashapon', N'ON'

ALTER DATABASE [Gashapon] SET QUERY_STORE = ON

ALTER DATABASE [Gashapon] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)

USE [Gashapon]

/****** Object:  Table [dbo].[AttendanceHistory]    Script Date: 2025/8/29 下午 10:37:39 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AttendanceHistory](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ClockInTime] [datetime] NOT NULL,
	[ClockOutTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DrawnItemsHistory]    Script Date: 2025/8/29 下午 10:37:39 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DrawnItemsHistory](
	[DrawID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SubProductID] [int] NOT NULL,
	[SubProductName] [nvarchar](255) NOT NULL,
	[PointsUsed] [int] NOT NULL,
	[DrawDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DrawID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PointsHistory]    Script Date: 2025/8/29 下午 10:37:39 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[PointsHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PointsChanged] [int] NOT NULL,
	[CashSpent] [decimal](10, 2) NOT NULL,
	[ChangeDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NOT NULL,
	[ProductID] [int] NULL,
	[SubProductID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Products]    Script Date: 2025/8/29 下午 10:37:39 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Products](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[P_Name] [varchar](50) NOT NULL,
	[P_Points] [int] NOT NULL,
	[P_Image] [varchar](100) NOT NULL,
	[P_Class] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Register]    Script Date: 2025/8/29 下午 10:37:39 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Register](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[RoleID] [int] NOT NULL,
	[Birthday] [date] NOT NULL,
	[Marriage] [bit] NOT NULL,
	[Points] [int] NULL,
	[VerificationCode] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[SubProducts]    Script Date: 2025/8/29 下午 10:37:39 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[SubProducts](
	[SP_ID] [int] IDENTITY(1,1) NOT NULL,
	[P_ID] [int] NOT NULL,
	[SP_Name] [nvarchar](50) NOT NULL,
	[SP_Amount] [int] NOT NULL,
	[SP_Image] [varchar](50) NULL,
 CONSTRAINT [PK_SubProducts] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

SET IDENTITY_INSERT [dbo].[AttendanceHistory] ON 

INSERT [dbo].[AttendanceHistory] ([RecordID], [UserID], [ClockInTime], [ClockOutTime]) VALUES (1, 1, CAST(N'2025-02-11T08:48:09.277' AS DateTime), CAST(N'2025-02-11T18:48:14.400' AS DateTime))
INSERT [dbo].[AttendanceHistory] ([RecordID], [UserID], [ClockInTime], [ClockOutTime]) VALUES (2, 34, CAST(N'2025-02-11T11:18:09.747' AS DateTime), CAST(N'2025-02-11T11:18:12.653' AS DateTime))
INSERT [dbo].[AttendanceHistory] ([RecordID], [UserID], [ClockInTime], [ClockOutTime]) VALUES (3, 1, CAST(N'2025-02-11T08:11:03.210' AS DateTime), CAST(N'2025-02-11T12:11:11.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[AttendanceHistory] OFF

SET IDENTITY_INSERT [dbo].[DrawnItemsHistory] ON 

INSERT [dbo].[DrawnItemsHistory] ([DrawID], [UserID], [ProductID], [SubProductID], [SubProductName], [PointsUsed], [DrawDate]) VALUES (2, 33, 1, 5, N'ChiikawaCat(E)', 200, CAST(N'2025-02-09T23:04:19.927' AS DateTime))
INSERT [dbo].[DrawnItemsHistory] ([DrawID], [UserID], [ProductID], [SubProductID], [SubProductName], [PointsUsed], [DrawDate]) VALUES (7, 1, 1, 1, N'ChiikawaCat(A)', 200, CAST(N'2025-02-09T23:38:25.620' AS DateTime))
INSERT [dbo].[DrawnItemsHistory] ([DrawID], [UserID], [ProductID], [SubProductID], [SubProductName], [PointsUsed], [DrawDate]) VALUES (8, 33, 1, 2, N'ChiikawaCat(B)', 200, CAST(N'2025-02-09T23:39:12.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[DrawnItemsHistory] OFF

SET IDENTITY_INSERT [dbo].[PointsHistory] ON 

INSERT [dbo].[PointsHistory] ([HistoryID], [UserID], [PointsChanged], [CashSpent], [ChangeDate], [PaymentMethod], [Description], [ProductID], [SubProductID]) VALUES (40, 33, -200, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-02-09T20:58:30.823' AS DateTime), N'系統', N'抽取商品', NULL, NULL)
INSERT [dbo].[PointsHistory] ([HistoryID], [UserID], [PointsChanged], [CashSpent], [ChangeDate], [PaymentMethod], [Description], [ProductID], [SubProductID]) VALUES (41, 33, 500, CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-02-09T23:03:55.637' AS DateTime), N'ATM 轉帳', N'會員儲值', 0, NULL)
INSERT [dbo].[PointsHistory] ([HistoryID], [UserID], [PointsChanged], [CashSpent], [ChangeDate], [PaymentMethod], [Description], [ProductID], [SubProductID]) VALUES (42, 33, -200, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-02-09T23:04:19.917' AS DateTime), N'系統', N'抽取商品', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PointsHistory] OFF

SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([P_ID], [P_Name], [P_Points], [P_Image], [P_Class]) VALUES (1, N'吉伊卡哇大臉捏捏吊飾-小八貓', 200, N'ChiikawaCat.png', N'可愛類')
INSERT [dbo].[Products] ([P_ID], [P_Name], [P_Points], [P_Image], [P_Class]) VALUES (2, N'吉伊卡哇大臉捏捏吊飾-吉伊卡哇', 200, N'ChiikawaMouse.png', N'可愛類')
INSERT [dbo].[Products] ([P_ID], [P_Name], [P_Points], [P_Image], [P_Class]) VALUES (6, N'吉伊卡哇大臉捏捏吊飾-兔兔', 200, N'ChiikawaRabbit.png', N'可愛類')
SET IDENTITY_INSERT [dbo].[Products] OFF

SET IDENTITY_INSERT [dbo].[Register] ON 

INSERT [dbo].[Register] ([UserID], [Account], [Password], [Name], [Phone], [Email], [Address], [RoleID], [Birthday], [Marriage], [Points], [VerificationCode]) VALUES (1, N'1234', N'12345', N'客服小祥', N'0912345678', N'my@mail.com', N'三角立華家的閣樓', 2, CAST(N'2004-06-06' AS Date), 0, 0, N'716846')
INSERT [dbo].[Register] ([UserID], [Account], [Password], [Name], [Phone], [Email], [Address], [RoleID], [Birthday], [Marriage], [Points], [VerificationCode]) VALUES (5, N'wofkof', N'qwex12519', N'KAKAKA', N'0975633611', N'qwex0088@gmail.com', N'我家', 1, CAST(N'1999-03-19' AS Date), 0, 0, N'316890')
INSERT [dbo].[Register] ([UserID], [Account], [Password], [Name], [Phone], [Email], [Address], [RoleID], [Birthday], [Marriage], [Points], [VerificationCode]) VALUES (32, N'zxc123', N'zxc123', N'海綿寶寶', N'0912312123', N'', N'鳳梨屋', 3, CAST(N'2000-05-13' AS Date), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Register] OFF

SET IDENTITY_INSERT [dbo].[SubProducts] ON 

INSERT [dbo].[SubProducts] ([SP_ID], [P_ID], [SP_Name], [SP_Amount], [SP_Image]) VALUES (1, 1, N'ChiikawaCat(A)', 100, N'ChiikawaCat(A).png')
INSERT [dbo].[SubProducts] ([SP_ID], [P_ID], [SP_Name], [SP_Amount], [SP_Image]) VALUES (2, 1, N'ChiikawaCat(B)', 97, N'ChiikawaCat(B).png')
INSERT [dbo].[SubProducts] ([SP_ID], [P_ID], [SP_Name], [SP_Amount], [SP_Image]) VALUES (3, 1, N'ChiikawaCat(C)', 95, N'ChiikawaCat(C).png')

SET IDENTITY_INSERT [dbo].[SubProducts] OFF

SET ANSI_PADDING ON

/****** Object:  Index [UQ__Register__5C7E359EDBDDB8AE]    Script Date: 2025/8/29 下午 10:37:39 ******/
ALTER TABLE [dbo].[Register] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [UQ__Register__A9D10534A25FAEF7]    Script Date: 2025/8/29 下午 10:37:39 ******/
ALTER TABLE [dbo].[Register] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [UQ__Register__B0C3AC46BE89220F]    Script Date: 2025/8/29 下午 10:37:39 ******/
ALTER TABLE [dbo].[Register] ADD UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

ALTER TABLE [dbo].[DrawnItemsHistory] ADD  DEFAULT (getdate()) FOR [DrawDate]

ALTER TABLE [dbo].[PointsHistory] ADD  DEFAULT ((0)) FOR [CashSpent]

ALTER TABLE [dbo].[PointsHistory] ADD  DEFAULT (getdate()) FOR [ChangeDate]

ALTER TABLE [dbo].[PointsHistory] ADD  DEFAULT ('會員儲值') FOR [Description]

ALTER TABLE [dbo].[Register] ADD  DEFAULT ((0)) FOR [Points]

ALTER TABLE [dbo].[AttendanceHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Register] ([UserID])

ALTER TABLE [dbo].[DrawnItemsHistory]  WITH CHECK ADD  CONSTRAINT [FK_DrawnItemsHistory_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([P_ID])

ALTER TABLE [dbo].[DrawnItemsHistory] CHECK CONSTRAINT [FK_DrawnItemsHistory_Product]

ALTER TABLE [dbo].[DrawnItemsHistory]  WITH CHECK ADD  CONSTRAINT [FK_DrawnItemsHistory_SubProduct] FOREIGN KEY([SubProductID])
REFERENCES [dbo].[SubProducts] ([SP_ID])

ALTER TABLE [dbo].[DrawnItemsHistory] CHECK CONSTRAINT [FK_DrawnItemsHistory_SubProduct]

ALTER TABLE [dbo].[DrawnItemsHistory]  WITH CHECK ADD  CONSTRAINT [FK_DrawnItemsHistory_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Register] ([UserID])

ALTER TABLE [dbo].[DrawnItemsHistory] CHECK CONSTRAINT [FK_DrawnItemsHistory_User]

ALTER TABLE [dbo].[PointsHistory]  WITH CHECK ADD  CONSTRAINT [FK_PointsHistory_SubProduct] FOREIGN KEY([SubProductID])
REFERENCES [dbo].[SubProducts] ([SP_ID])

ALTER TABLE [dbo].[PointsHistory] CHECK CONSTRAINT [FK_PointsHistory_SubProduct]

ALTER TABLE [dbo].[PointsHistory]  WITH CHECK ADD  CONSTRAINT [FK_PointsHistory_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Register] ([UserID])

ALTER TABLE [dbo].[PointsHistory] CHECK CONSTRAINT [FK_PointsHistory_User]

ALTER TABLE [dbo].[SubProducts]  WITH CHECK ADD FOREIGN KEY([P_ID])
REFERENCES [dbo].[Products] ([P_ID])

USE [master]

ALTER DATABASE [Gashapon] SET  READ_WRITE 

